.footer {
  background: #fef9f5;
  padding: 40px 20px 20px;
  border-top: 1px solid #ddd;
  color: #333;
  font-family: sans-serif;
  margin-bottom: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.footer-section h2.logo {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section h3 {
  font-size: 2vw;
  margin-bottom: 10px;
}

.footer-section .desc {
  font-size: 1.5vw;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  font-size: 2vw;
  margin: 6px 0;
}

.footer-section a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #6b46c1; /* violet */
}

.socials {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.footer-link {
  width: 20vw;
}

.bottom-bar {
  text-align: center;
  font-size: 2vw;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
  color: #555;
}
.logo {
  color: #4d2c5e;
}
