* {
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-VariableFont_wdth\wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter_24pt-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Jost;
  src: url(fonts/Jost-VariableFont_wght.ttf);
}
.layout {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fdf8ee;
}
.banner-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 736px;
  position: relative;
  background: #fdf8ee;
  display: flex;
  align-items: center;
  background: no-repeat url("assets/background-banner.svg");
  background-size: 100% 100%;
  background-color: #fdf8ee;
}
.banner-container .left {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-right: 50px;
}
.banner-container .right {
  position: relative;
  width: calc(100vw - 25vw - 50px);
}
.banner-container .teachers-image {
  position: relative;
  z-index: 10;
  width: 50vw;
}
.clock-image {
  position: absolute;
  width: 20vw;
  top: -10%;
  right: -5%;
  z-index: 1;
}
.banner-container .left h1 {
  color: var(--Primary-Black, #050c26);
  font-family: Roboto;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 800;
  width: 100%;
}
.banner-container .left h1 span {
  color: #ff7426;
  font-family: Roboto;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
  width: 100%;
}

.banner-container .left p {
  color: #8a8a8a;
  font-family: Roboto;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  margin-bottom: 16px;
}

.banner-container .search-container {
  width: 100%;
  height: 79px;
  border-radius: 96px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
}

.banner-container .search-container p {
  color: #0f335e;
  font-family: Roboto;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
  margin-bottom: 0;
  width: 50%;
}

#search-button {
  color: #fff;
  font-family: Roboto;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 96px;
  background: #4d2c5e;
  border: none;
  width: 50%;
  height: 69px;
}
* {
  margin: 0;
}

@media (max-width: 1500px) and (min-width: 569px) {
  .banner-container .left {
    width: 50%;
  }
  .banner-container .right {
    width: 50%;
  }
  .banner-container .left h1 {
    font-size: 5.5vw;
  }
  .banner-container .left h1 span {
    font-size: 5.5vw;
  }
  .banner-container .left p {
    font-size: 2vw;
  }
}
@media (max-width: 568px) {
  .banner-container {
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: baseline;
  }
  .banner-container .left {
    width: 100%;
    background: no-repeat url("assets/background-banner.svg");
    background-size: 100% 100%;
    padding-right: 0px;
    margin-right: 0px;
  }
  .banner-container .right {
    display: none;
  }
  .banner-container .left h1 {
    font-size: 11vw;
    width: 100%;
  }
  .banner-container .left h1 br {
    display: none;
  }
  .banner-container .left h1 span {
    font-size: 10.5vw;
  }
  .banner-container .left p {
    font-size: 4vw;
  }
  .left .search-container {
    height: 15vw;
    margin-top: 20px;
  }
  .left .search-container p {
    font-size: 3.5vw;
  }
  .left #search-button {
    font-size: 4vw;
    height: 100%;
  }
}


.header-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-shrink: 0;
  background-color: #fdf8ee;
}

.header-menu-container .logo {
  color: #1d1d1d;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 32.4px */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-left: 6.5vw;
  margin-right: 30vw;
}
@media (max-width: 500px) {
  .header-menu-container .logo {
    font-size: 25px;
  }}

.header-menu-container .logo svg {
  width: 3.3vw;
}
.menu-container {
  width: 100%;
  flex-shrink: 0;
  background: #fdf8ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-menu-container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.header-menu-container .nav a {
  text-transform: capitalize;
  color: #333;
  font-family: Roboto;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.header-menu-container .profile-and-signin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6vw;
  width: 16.5vw;
}
.header-menu-container .sign-in {
  width: 10vw;
  height: 3.5vw;
  flex-shrink: 0;
  border-radius: 218px;
  background: #4d2c5e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signin-link {
  color: #fff;
  font-size: 2vw;
  text-decoration: none;
}

.header-menu-container .profile-and-signin .profile {
  display: flex;
  width: 3.5vw;
  height: 3.5vw;
  padding: 11px 11px 11.462px 12px;
  justify-content: center;
  align-items: center;
  border: 3px solid #333;
  border-radius: 200px;
  background: #4d2c5e;
}

.header-menu-container .profile-and-signin .profile img {
  width: 2.5vw;
  height: 2.5vw;
}

@media (max-width: 1000px ) and (min-width: 569px) {
  .header-menu-container .nav {
    width: 30vw;
  }
  .header-menu-container .nav a {
    font-size: 1.5vw;
  }
  .header-menu-container .profile-and-signin {
    margin-right: 3vw;
  }
}

@media (max-width: 568px) {
  .header-menu-container {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
  }
  .header-menu-container .logo {
    width: 30vw;
    margin-right: 5vw;
    font-size: 10vw;
    gap: 2px;
  }
  .header-menu-container .logo svg {
    width: 7vw;
  }
  .header-menu-container .nav {
    width: 40vw;
    display: none;
  }
  .header-menu-container .nav a {
    font-size: 2.5vw;
  }
  .header-menu-container .profile-and-signin {
    margin-right: 6vw;
    width: 30vw;
    justify-content: space-between;
  }
  .header-menu-container .profile-and-signin .profile {
    width: 8vw;
    height: 8vw;
    padding: 2vw;
  }
  .header-menu-container .profile-and-signin .profile img {
    width: 5vw;
    height: 5vw;
  }
  .header-menu-container .sign-in {
    width: 18vw;
    height: 7vw;
  }
  .signin-link {
    font-size: 3.5vw;
  }
}

/* teachers component */

.teachers-component-container {
  background: #4d2c5e;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 300px;
}

.teacher-container {
  position: relative;
  width: 80vw;
  height: 45vw;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-top: 8vw;
  border-radius: 30px;
  background: #fff;
}

.teacher-container .info-container {
  display: flex;
  gap: 5vw;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.info-container .right {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
  flex-shrink: 0;
}

.info-container .right p {
  color: #868686;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  width: 100%;
  font-weight: 500;
  line-height: normal;
  
}

.info-container .right h1 {
  text-transform: capitalize;
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.teacher-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.teacher-container .left {
  width: 27vw;
  height: 27vw;
  flex-shrink: 0;
}

.teacher-container .left img {
  width: 100%;
  height: 100%;
}
  
.send-mail-btn {
  width: 60%;
  height: 49px;
  flex-shrink: 0;
  border-radius: 218px;
  background: #4d2c5e;
  color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.right-arrow {
  position: absolute;
  top: 143.74px;
  right: 143.62px;
}

@media (max-width: 1400px) {
  .right-arrow {
    top: 0;
    right: 10px;
    width: 15vw;
  }
}

.proteachers-component-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;

  background-color: #f9f9f9;
  padding: 10vw 8vw 12vw 8vw;
  position: relative;
}

.lamp {
  position: absolute;
  top: 14vw;
  left: 5vw;
  width: 10vw;
}

.arrow {
  position: absolute;
  top: 12vw;
  right: 5vw;
  width: 10vw;
}

.proteachers-component-container .header {
  
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.proteachers-component-container .header h1 {
  color: #000;
  font-family: Jost;
  margin-top: 4vw;
  font-size: 7vw;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 70px */
  text-transform: capitalize;
}

.proteachers-component-container .header p {
  color: #8a8a8a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.proteachers-component-container .three-teachers-container {
  display: flex;
  gap: 30px;
}

.three-teachers-container .teacher {
  position: relative;
  width: 25vw;
  height: 25vw;
  flex-shrink: 0;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}
.three-teachers-container .teacher img {
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 15px;
  width: calc(25vw - (15px * 2));
}

.three-teachers-container .teacher h1 {
  color: #000;
  margin-top: 1.5vw;
  margin-left: 15px;
  font-family: Poppins;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.three-teachers-container .teacher h2 {
  margin-top: 2px;
  margin-left: 15px;
  color: #868686;
  font-family: Poppins;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.three-teachers-container .teacher h3 {
  margin-left: 15px;
  color: #acacac;
  font-family: Roboto;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%; /* 24.75px */
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.three-teachers-container .teacher h4 {
  margin-left: 15px;
  color: #ff7426;
  font-family: Poppins;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.three-teachers-container .teacher .social {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 15px;
  bottom: 0.5vw;
  width: 15%;
}

.three-teachers-container .teacher .social img {
  border-radius: 0px;
  width: 40%;
  margin: 0;
  background: #f9f9f9;
}

@media (max-width: 568px) {
  .proteachers-component-container {
    display: none;
  }
}

.menu-footer-component-container {
  position: relative;
  bottom: -77px;
  width: 1432px;
  margin: auto;
  height: 277px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #4d2c5e;
  display: flex;
  gap: 50px;
  align-items: center;
  z-index: 10;
}
.menu-footer-component-container .div {
  display: flex;
  gap: 25px;
}

.menu-footer-component-container .div:nth-child(1) {
  margin-left: 35px;
}

.menu-footer-component-container .div img {
  width: 102px;
  height: 102px;
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.2);
  padding: 24px;
}

.menu-footer-component-container .div h1 {
  margin-bottom: 16px;
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-footer-component-container .div p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 186.667% */
  width: 292px;
  height: 88px;
  flex-shrink: 0;
}

@media (max-width: 1432px) and (min-width: 569px) {
  .menu-footer-component-container {
    width: 100%;
    gap: 1vw;
    position: relative;
    height: 25vw;
  }
  .menu-footer-component-container .div {
    display: flex;
    gap: 25px;
  }

  .menu-footer-component-container .div:nth-child(1) {
    margin-left: 1.5vw;
  }

  .menu-footer-component-container .div img {
    width: 10vw;
    height: 10vw;
    border-radius: 23px;
    background: rgba(255, 255, 255, 0.2);
    padding: 2vw;
  }

  .menu-footer-component-container .div h1 {
    margin-bottom: 16px;
    color: #fff;
    font-family: Roboto;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .menu-footer-component-container .div p {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5vw;
    letter-spacing: 1px;
    word-spacing: 2px;
    width: 18vw;
    height: 88px;
    flex-shrink: 0;
  }
}
@media (max-width: 568px) {
  .menu-footer-component-container {
    width: 100%;
    border-radius: 20px;
    gap: 1vw;
    position: relative;
    height: 30vw;
    overflow: scroll;
  }
  .menu-footer-component-container .div {
    margin-top: 0px;
    font-size: 5.5vw;
    height: 90%;
    gap: 10px;
  }
  .menu-footer-component-container .div br {
    display: none;
  }
  .menu-footer-component-container .div h1 {
    margin: 0;
  }
  .menu-footer-component-container .div p {
    font-size: 3.5vw;
    height: auto;
    line-height: normal;
    margin: 0;
  }
  .menu-footer-component-container .div img {
    width: 15vw;
    height: 15vw;
    border-radius: 23px;
    background: rgba(255, 255, 255, 0.2);
    padding: 1.5vw;
  }
  .menu-footer-component-container .div:nth-child(1) {
    margin-left: 2.5vw;
  }
}
.study-field-component-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #fdf8ee;
}
.study-field-component-container img {
  margin-left: 20px;
  margin-top: 4vw;
  width: 50vw;
}

.study-field-component-container .left h1 {
  color: #050c26;
  font-family: Roboto;
  font-size: 4vw;
  font-style: normal;
  font-weight: 800;
  line-height: 135%; /* 93.15px */
  width: 40vw;
  margin-top: 115px;
}
.study-field-component-container .left h1 span {
  color: #ff7426;
  font-family: Roboto;
  font-size: 4vw;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
}
.study-field-component-container .search-container {
  margin-top: 51px;
  width: 40vw;
  height: 5vw;
  flex-shrink: 0;
  border-radius: 62px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.study-field-component-container select {
  margin-left: 1vw;
  width: 60%;
  height: 60%;
  font-size: medium;
  font-family: Roboto;

}

.study-field-component-container .field-search-btn {
  border-radius: 62px;
  background: #ff7426;
  width: 8vw;
  height: 4.5vw;
  flex-shrink: 0;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 144.5%; /* 28.9px */
  letter-spacing: 0.4px;
  margin-right: 7px;
}

@media (max-width: 1493px) and (min-width: 569px) {
  .study-field-component-container .search-container {
    width: 35vw;
    margin-top: 2vw;
    height: 5vw;
    flex-shrink: 0;
    border-radius: 62px;
    background: #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .study-field-component-container .search-container input {
    border: none;
    color: #acacac;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: 144.5%; /* 28.9px */
    letter-spacing: 0.4px;
  }

  .study-field-component-container .field-search-btn {
    border-radius: 62px;
    background: #ff7426;
    width: 10vw;
    height: 4.5vw;
    flex-shrink: 0;
    border: none;
    color: #fff;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: 144.5%; /* 28.9px */
    letter-spacing: 0.4px;
    margin-right: 7px;
  }
  .study-field-component-container img {
    margin-left: 20px;
    margin-top: 10vw;
    width: 50vw;
    height: 30vw;
  }
}
@media (max-width: 568px) {
  .study-field-component-container {
    margin-top: 40vw;
    padding-left: 0;
    position: relative;
  }
  .study-field-component-container img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15vw;
    width: 100%;
  }
  .study-field-component-container .left h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    margin-left: 10px;
    text-align: start;
    font-size: 8.5vw;
  }
  .study-field-component-container .left h1 span {
    font-size: 8.5vw;
  }
  .study-field-component-container .search-container {
    width: 80vw;
    position: absolute;
    bottom: -15vw;
    left: 50%;
    background-color: transparent;
    transform: translateX(-50%);
    height: auto
  }
  .study-field-component-container .search-container select {
    width: 50vw;
  }
  .study-field-component-container .field-search-btn {
    width: 20vw;
    height: 7vw;
    font-size: 4vw;
    margin-right: 10px;
  }
}

.study-field-component-container .left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.student-review-component-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.student-review-component-container .header {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 80px;
}

.student-review-component-container .header h1 {
  color: #050c26;
  font-family: Poppins;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 167.5%; /* 67px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.student-review-component-container .header p {
  color: #8a8a8a;
  font-family: Poppins;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.student-review-component-container .three-reviews {
  display: flex;
  gap: 2vw;
  margin-bottom: 83px;
}

.student-review-component-container .review {
  width: 27vw;
  height: 20vw;
  flex-shrink: 0;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 88px 0 rgba(0, 0, 0, 0.05);
}
.student-review-component-container .review p {
  color: #acacac;
  font-family: Roboto;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw; /* 29.735px */
  letter-spacing: 0.38px;
  width: 25vw;
  margin-left: 1.5vw;
  margin-top: 1vw;
}

.student-review-component-container .review .profile {
  display: flex;
  position: absolute;
  bottom: 2vw;
}
.student-review-component-container .review .profile h1 {
  color: #353535;
  font-family: Roboto;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 156.5%; /* 26.605px */
  letter-spacing: 0.34px;
  margin-left: 16px;
}
.student-review-component-container .review .profile p {
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 1.2vw;
  font-style: normal;
  margin-top: 0;
  font-weight: 400;
  line-height: 156.5%; /* 20.345px */
  letter-spacing: 0.26px;
  margin-left: 16px;
}

.student-review-component-container .profile img {
  margin-left: 1.5vw;
  width: 4vw;
}

@media (max-width: 568px) {
  .student-review-component-container {
    align-items: center;
  }
  .student-review-component-container .header h1 {
    font-size: 7vw;
  }
  .student-review-component-container .header p {
    font-size: 2.5vw;
  }
  .student-review-component-container .three-reviews {
    overflow: scroll;
    height: 50vw;
  }
  .student-review-component-container .review {
    width: 70vw;
    height: 100%;
    margin-bottom: 0px;
  }
  .student-review-component-container .review p {
    font-size: 4.5vw;
    line-height: normal;
    width: 65vw;
  }
  .student-review-component-container .review .profile h1 {
    font-size: 4.5vw;
  }
  .student-review-component-container .review .profile p {
    font-size: 3.5vw;
  }
  .student-review-component-container .profile img {
    width: 10vw;
  }
}

.review-swipe {
  margin-bottom: 136px;
}
.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32.6px;
  position: relative;
  width: 100%;
  margin-bottom: 115px;
  margin-left: 20vw;
}

.review-form-container .container {
  width: 746.992px;
  height: 63.094px;
  flex-shrink: 0;
  border-radius: 6.76px;
  border: 1.127px solid #472758;
  align-items: center;
  display: flex;
}

.review-form-container input {
  margin-left: 1vw;
  border: none;
  width: 100%;
  height: 70%;
  background-color: #fdf8ee;
}

.review-form-container .yourquery {
  width: 746.992px;
  height: 120.555px;
  flex-shrink: 0;
}

.review-form-btn {
  width: 747px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 96px;
  background: #4d2c5e;
  color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.review-form-container h1 {
  color: #472758;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: #472758;
  font-family: "Libre Franklin";
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 20.28x; /* 128.571% */
  padding: 0.1vw;
  background: #fff;
}

.review-form-container .container {
  position: relative;
}

.review-form-container .container h1 {
  position: absolute;
  font-size: 1.5vw;
  left: 2vw;
  top: -1vw;
}

.review-curly-arrow-img {
  position: absolute;
  top: -200px;
  width: 8vw;
  left: 8vw;
}

.review-planets-img {
  position: absolute;
  top: -100px;
  width: 8vw;
  right: 15vw;
}

@media (max-width: 1600px) {
  .review-form-container {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .review-form-container .container {
    width: 70vw;
    height: 6vw;
  }
  .review-form-container .yourquery {
    width: 70vw;
  }
  .review-form-btn {
    width: 70vw;
    height: 8vw;
  }
  .review-form-container .container input {
    height: 4vw;
  }

  .review-curly-arrow-img {
    position: absolute;
  }

  .review-planet-img {
    position: absolute;
    top: 618px;
    right: 146px;
  }
}

@media (max-width: 568px) {
  .review-form-container {
    display: none;
  }
  .review-swipe {
    margin-bottom: 0px;
  }
}

.subscribe-to-newsletter-container {
  width: 80vw;
  margin: auto;
  height: 25vw;
  flex-shrink: 0;
  border-radius: 14px;
  background: #4d2c5e;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 115px;
  position: relative;
  margin-bottom: 91px;
}

.orange-arrow {
  position: absolute;
  top: 3vw;
  height: 10vw;
  width: 10vw;
  left: 4vw;
}

.subscribe-to-newsletter-container h1 {
  margin-top: 4vw;
  margin-bottom: 13px;
  color: #fff;
  font-family: Poppins;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: 144.5%; /* 57.8px */
  letter-spacing: 0.8px;
}

.subscribe-to-newsletter-container p {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3vw;
}

.subscribe-to-newsletter-container .input-container {
  width: 45%;
  height: 5vw;
  flex-shrink: 0;
  border-radius: 62px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-to-newsletter-container .input-container input {
  margin-left: 3vw;
  color: #acacac;
  font-family: Poppins;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 144.5%; /* 28.9px */
  letter-spacing: 0.4px;
  border: none;
}

.subscribe-to-newsletter-container .send-button {
  border-radius: 62px;
  background: #ff7426;
  width: 30%;
  height: 90%;
  flex-shrink: 0;
  border: none;
  color: #fff;
  margin-right: 0.3vw;
  font-family: Poppins;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 144.5%; /* 28.9px */
  letter-spacing: 0.4px;
}

.subscribe-to-newsletter-container .lampi {
  position: absolute;
  top: 10%;
  width: 12vw;
  right: 2vw;
}

@media (max-width: 568px) {
  .subscribe-to-newsletter-container {
    width: 100vw;
    height: 50vw;
    padding: 5vw 0;
    margin-bottom: 0;
  }
  .subscribe-to-newsletter-container h1 {
    font-size: 6vw;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
  }
  .subscribe-to-newsletter-container p {
    font-size: 3vw;
    margin-bottom: 10vw;
  }
  .subscribe-to-newsletter-container .input-container {
    width: 70%;
    height: 9vw;
  }
  .subscribe-to-newsletter-container .input-container input {
    font-size: 3vw;
  }
  .subscribe-to-newsletter-container .send-button {
    font-size: 3vw;
  }
  .subscribe-to-newsletter-container .lampi {
    top: 40%;
  }
  .subscribe-to-newsletter-container .orange-arrow {
    top: 30%;
    left: 2vw;
    width: 15vw;
    height: 15vw;
  }
}

.lessons-page-container {
  margin-top: 250px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.lessons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  overflow: scroll;
  align-items: center;
  width: 1600px;
  height: 300px;
}
.lesson-container {
  font-family: Poppins;
  border-radius: 14px;
  background: #fff;
  text-transform: capitalize;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}

.lesson-container h2 {
  font-size: medium;
}